<style>
	.section_inner {
		display: flex;
		justify-content: space-between;
		padding: 25px;
	}
	.element {
		display: flex;
		/*align-items: center;*/
		justify-content: center;
		width: 65%;

		padding: 20px 100px;
	}
	.info {
		display: block;
		/*flex-direction: column;*/

		padding: 10px 50px;
	}
	img {
		width: 300px;
		height: auto;
	}
	.cart_bttn {
		border: 2px solid;
		color: #797a7e;
		font-size: 14px;
		text-decoration: none;
		text-transform: uppercase;
		padding: 10px 20px;
	}
	.ads {
		width: 25%;
		background-color: #f7f2e7; /*svetlyi*/
		padding: 20px;
	}
</style>

<div class="section">
			<div class="section_inner">

				<div class="element">
					<img src="{{this.image_url}}">
					<div class="info">
						<h1 class="name"> {{this.name}} by {{this.author}} </h1>
						<h3 class="price"> $ {{this.price}} </h3>
						<p class="description"> {{this.desc}} </p>
						<a href="#" class="cart_bttn">Add to a Cart</a>
					</div>
					
				</div>

		<div class="ads"></div>
	</div>
</div>